.cabeçalho_menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url(../imagens/Menu.svg.png);
    display: inline-block;
}
.cabeçalho{
    background-color:var(--branco);
}
.div-1{
    display: flex;
    justify-content: space-around;
}