@import url("../styles/header.css");

:root{
    --cor-de-fundo: #EBECEE;
    --branco:#FFFFFF;
    --amarelo: #fecb2f;
    --roxo:#733887;
    --fonte-principal: "poppins";
}
body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
h1{
    background-color: var(--branco);
}